
/**BODY PROPERTIES**/
body {
  background:radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);
}


/**FACES USED ON WEBSITE**/
@font-face {
  font-family: 'space_light';
  src: url('../fonts/space_light.otf');
}

@font-face {
  font-family: 'space_bold';
  src: url('../fonts/space_bold.otf');
}

@font-face {
  font-family: 'space_regular';
  src: url('../fonts/space_regular.otf');
}


/**H1 PROPERTIES**/
h1{
  top: 50%;
  left: 50%;
  transform: translate(-10%,-30%);
  position: absolute;
  z-index: 50;
}



/**NAV PROPERTIES**/
nav{
  text-align: center;
  margin: 10px 0;
  position: absolute;
  z-index: 60;
}

.menu {
  top: 50%;
  left: 50%;
  transform: translate(40%,200%);
}
/**LI PROPERTIES**/
li{
  display: inline-block;
  width: 80px;
  color: whitesmoke;
}



/**A PROPERTIES**/
a{
  font-family: 'space_regular';
  text-align: center;
  font-size: 20px;
}


/**


CONTAINER PART


**/


/**SOLAR SYSTEM PROPERTIES**/
.solarSystem {
  position: relative;
  width: 100%;
  max-height: 100vh;
   overflow: hidden;
}


.circleBlur2 {
  overflow: hidden;
  background-color: #284156;
  height: 300px;
  width: 400px;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: 275px;
  border-radius: 50%;
  box-shadow: 0 0 50px #284156;
  filter: blur(60px);
  position: absolute;
  opacity: 0.05;
  z-index:1;
}









.starCanvas {
  position: absolute;
  z-index: 3
}


.cross {
  opacity: 0.03;
  position: absolute;
  z-index: 1;
}



/**
SUN CSS PART
**/



/**SUNON PROPERTY**/
.sunOn {
  transition: opacity 1s ease-in-out 1s;
}


/**SUNOFF PROPERTY**/
.sunOff {
  transition: opacity 1s ease-in-out;
}


/**SUN PROPERTIES**/
.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #fff000 0%, #fcd440 50%, #fcd440 20%, #e06317 100%);
  box-shadow: 0 0 8px 1px rgba(255, 100, 0, 0.6), 0 0 24px 10px rgba(255, 203, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -50px;
  position: absolute;
  z-index: 5;
}



/**
EARTH CSS PART
**/

.earthPart{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/**EARTHON PROPERTY**/
.earthOn {
  transition: opacity 1s ease-in-out 1s;
}


/**EARTHOFF PROPERTY**/
.earthOff {
  transition: opacity 1s ease-in-out;
}


/**EARTH CIRCLE PROPERTIES**/

.earthCircle{
width: 270px;
  height: 270px;
  top: 50%;
  margin-top: -135px;
  left: 50%;
  margin-left: -138px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #006064;
  filter: blur(12px);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.earth{
  width: 270px;
  height: 270px;
  top: 50%;
  margin-top: -135px;
  left: 50%;
  margin-left: -138px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  animation: rotation 3.3s linear infinite;
}

/**MOON CREATION PROPERTIES**/
.earth:before{
  width: 20px;
  height: 20px;
  left: 0px;
  top: 15px;
  border-radius: 50%;
  background-color: #CCC;
  content: '';
  position: absolute;
  transform-origin: 60px;
  animation: rotation 6s linear infinite;

}

/**EARTH CREATION PROPERTIES**/
.earth:after{
  width:40px;
  height:40px;
  left:38px;
  top:6px;
  border-radius: 50%;
  background-color:#0058B0;
  border-color:seagreen;
  border-style:solid;
  border-width: 4px 0 3px 0;
  content:'';
  position: absolute;
  z-index: 6;

}


/**
MARS CSS PART
**/

/**MARSON PROPERTY*/
.marsOn {
  transition: opacity 1s ease-in-out 1s;
}

/**MARSOFF PROPERTY*/
.marsOff {
  transition: opacity 1s ease-in-out;
}

/**MARS CIRCLE PROPERTIES*/

.marsCircle{
  width: 550px;
  height: 550px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -275px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #006064;
  filter: blur(12px);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.mars{
  width: 550px;
  height: 550px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -275px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  animation: rotation 9s linear infinite;
}

/**MARS CREATION PROPERTIES**/
.mars:after{
  width:30px;
  height:30px;
  left: 35px;
  top: 102px;
  border-radius: 50%;
  background-color:coral;
  border-color:lightcoral;
  border-style:solid;
  border-width: 4px 1px 1px 1px;
  content:'';
  position: absolute;
  z-index: 6;

}


/**ALLOW TO HIDE CONTENT**/
.changeOpacity {
  opacity: 0;
}


/**ROTATION ANIMATION**/
@keyframes rotation{
  from{transform: rotate(0deg);}
  to{transform: rotate(-360deg);}
}


/**
EARTHSECTION CSS PART
**/

/**EARTHSECTIONON PROPERTY*/
.earthSectionOn {
  transition: opacity 1s ease-in-out 1s;
}


/**EARTHSECTIONOFF PROPERTY*/
.earthSectionOff {
  transition: opacity 1s ease-in-out;
}

/**EARTHSECTION PROPERTIES**/
.earthSection {
  overflow: hidden;
  background-color: #22313F;
  height: 350px;
  width: 350px;
  top: 50%;
  margin-top: -175px;
  left: 50%;
  margin-left: -175px;
  border-radius: 50%;
  box-shadow: 0 0 50px #00C7FF;
  filter: blur(0.75px);
  position: absolute;
  z-index:20;
}


/**GROWEARTH MAP PROPERTIES**/
.growEarth {
  background: url('../images/earth_map.svg') repeat-x;
  width: 258%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  will-change: transform;
  animation: slide 20s linear infinite;
}


/**
MOONSECTION CSS PART
**/

/**MOONSECTIONON PROPERTY*/
.moonSectionOn {
  transition: opacity 1s ease-in-out 1s;
}


/**MOONSECTIONOFF PROPERTY*/
.moonSectionOff {
  transition: opacity 1s ease-in-out;
}

/**MOONSECTION PROPERTIES**/
.moonSection {
    overflow: hidden;
    height: 130px;
    width: 130px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: 160px;
    border-radius: 50%;
    box-shadow: 0 0 50px whitesmoke;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**GROWMOON MAP PROPERTIES**/




.growMoon {
  background: url('../images/moon_map.svg') repeat-x;
  width: 258%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  will-change: transform;
  animation: slide 20s linear infinite;
}


.growEarthMoon {
  background: url('../images/earth_map.svg') repeat-x;
  width: 258%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  will-change: transform;
  animation: slide 20s linear infinite;
}


.earthSectionMoon {
  overflow: hidden;
    height: 250px;
    width: 250px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -340px;
    border-radius: 50%;
    box-shadow: 0 0 50px #00C7FF;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**
MARSSECTION CSS PART
**/

/**MARSSECTIONON PROPERTY*/
.marsSectionOn {
  transition: opacity 1s ease-in-out 1s;
}


/**MARSSECTIONOFF PROPERTY*/
.marsSectionOff {
  transition: opacity 1s ease-in-out;
}

/**MARSSECTION PROPERTIES**/
.marsSection {
  overflow: hidden;
    height: 150px;
    width: 150px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: 130px;
    border-radius: 50%;
    box-shadow: 0 0 50px coral;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**GROWMARS MAP PROPERTIES**/
.growMars {
  background: url('../images/mars_map.svg') repeat-x;
  width: 258%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  will-change: transform;
  animation: slide 20s linear infinite;
}


.earthSectionMars {
 overflow: hidden;
    height: 250px;
    width: 250px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -340px;
    border-radius: 50%;
    box-shadow: 0 0 50px #00C7FF;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}







/**ALLOW THE MAPS TO SLIDE**/
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); 
  }
}



.earthRocketLaunched {
      width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -156px;
    left: 50%;
    margin-left: 53px;
    position: absolute;
    z-index: 12;
  transform-origin: 180px;
	animation: earthRocketMove 15s linear infinite;
}


@keyframes earthRocketMove{ 
	0% { -webkit-transform: rotate(0deg);transform:rotate(0deg);}
	20% { -webkit-transform: rotate(90deg);transform:rotate(90deg);}
	40% { -webkit-transform: rotate(180deg);transform:rotate(180deg);}
	60% { -webkit-transform: rotate(270deg);transform:rotate(270deg);}
	80% { -webkit-transform: rotate(360deg);transform:rotate(360deg);} 
  100% { -webkit-transform: rotate(360deg);transform:rotate(360deg);} 
}



.moonRocketLaunched {
      width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 12;
  transform-origin: 140px;
    animation: moonRocketMove 20s linear infinite;
}


@keyframes moonRocketMove{ 
	0% {
      opacity: 0;
      transform: translate(-300px, -20px) rotate(75deg);
  }
	20% {
      opacity: 1;
      transform: translate(90px, -140px) rotate(65deg);
  }
	50% {
      opacity: 1;
      transform: translate(90px, -140px) rotate(360deg);
  }
  75% {
    opacity: 1;
      transform: translate(90px, -140px) rotate(640deg);
  }
	100% {
      opacity: 0;
      transform: translate(-380px, -240px) rotate(640deg);
  } 
}
  

.marsRocketLaunched {
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -156px;
    left: 50%;
    margin-left: 53px;
    position: absolute;
    z-index: 12;
    animation: marsRocketMove 20s linear infinite;
}


@keyframes marsRocketMove{ 
	0% {
      transform: translate(-250px, 100px) rotate(80deg);
  }
	45% {
      transform: translate(170px,30px) rotate(80deg);
  }
  50% {
      transform: translate(120px,30px) rotate(260deg);
  }
 55% {
      transform: translate(120px,30px) rotate(260deg);
  }
  90% {
      transform: translate(-250px, 100px) rotate(260deg);
  } 
	100% {
      transform: translate(-250px, 100px) rotate(80deg);
  } 
}


.rocketOn {
  transition: opacity 2s ease-in-out 4s;
}

/**MARSOFF PROPERTY*/
.rocketOff {
  transition: opacity 1s ease-in-out;
}





.logo .spaceX {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 500px;
}

/***** CONTAIN EARTH *****/

.containEarth {
      width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 30;
}

.containEarth h2 {
    color: #30769E;
    text-transform: uppercase;
    text-shadow: 0 0 1px #7dc7EE;
  margin: 30px 0 30px 0;
}

.containEarth p {
    color: #30769E;
}


/******************************\
          
      INFOS SECTION EARTH

/*******************************/

.containEarth .infos-section {
    position: absolute;
    margin-top: 12%;
    left: -8%;
    width: 400px;
    height: 300px;
}

.containEarth .infos-section .background {
    position: absolute;
    top: -150px;
    left: -165px;
}

.containEarth .infos-section .title {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 21%;
    font-family: 'space_light', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.containEarth .infos-section .description {
    font-family: 'roboto_regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-left: 3%;
    margin-right: 10%;
}


/**********************\

     EARTH SECTION

/**********************/

.containEarth .planet-section {
    position: absolute;
    margin-top: 28%;
    /* center trick */
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 50%;
    /* effects */
    box-shadow: 0 0 25px 10px #182d52 inset, 0 0 50px #182d52;
    /* filter: drop-shadow(5px 5px 15px #182d52); */
}


/*** EARTH PLANISPHERE ***/

.containEarth .planet-section .planet {
    position: absolute;
    width: 248%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Earth.png') repeat-x;
    background-size: 52%;
    /* box-shadow: -100px 10px 100px 0px #182d52 inset; */
    will-change: transform;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-52%);
    }
}

/*** EARTH EFFECT DIV BEHIND THE PLANET ***/

.containEarth .planet-section .planet-for-effect {
    position: absolute;
    width: 248%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Earth-inverse.png') repeat-x;
    background-size: 52%;
    filter: blur(3px);
    will-change: opacity;
    opacity: 0.75;
    /* box-shadow: -100px 10px 100px 0px #182d52 inset; */
    will-change: transform;
    animation: slideEffect 20s linear infinite;
}

@keyframes slideEffect {
    from {
        transform: translateX(-52%);
    }
    to {
        transform: translateX(0);
    }
}


/*******************************\

    ACTIONS SECTION EARTH

/********************************/

.containEarth .action-section {
    left: 35%;
    position: absolute;
    margin-top: 55%;
    width: 400px;
    height: 100px;
}

.containEarth .action-section a {
    display: inline-block;
    margin-top: 6%;
}

.containEarth .action-section h2 {
    display: inline-block;
    font-family: 'space_regular', sans-serif;
    font-size: 34px;
    text-align: center;
}

.containEarth .action-section img {
    width: 60px;
}

.containEarth .action-section .prev {
    margin-left: 5%;
}

.containEarth .action-section .planet-name {
    position: relative;
    bottom: 15.5%;
    left: 12%;
}

.containEarth .action-section .next {
    margin-left: 25%;
}



/*****************************\

      TEXTS SECTION EARTH

/******************************/

.containEarth .texts-section {
    max-height: 100vh;
    top: 50%;
    /* margin-top: -8vw; */
    left: 100%;
    position: absolute;
    transform: translate(-100%,-50%);
}

.containEarth .title-section {
    font-family: 'space_light', sans-serif;
    font-size: 20px;
}

.containEarth .texts-section p {
    font-family: 'roboto_regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
          width: 340px;
}

.containEarth .texts-section img {
    position: relative;
    top:  10px;
    width: 40px;
}

.containEarth .texts-section .mission-section {
}


.containEarth .mission-section .title-section .mission {
    display: inline-block;
}

.containEarth .texts-section .rocket-section {
}


.containEarth .rocket-section .title-section .mission {
    display: inline-block;
}


.containEarth .texts-section .datas-section {
}


.containEarth .datas-section .title-section .mission {
    display: inline-block;
}


/**********************\

      CLASS FOR JS

/**********************/


.displayNone {
    overflow: hidden;
    height: 0;
    will-change: opacity;
    opacity: 0;
}

.displayYes {
    overflow: hidden;
    height: auto;
    will-change: opacity;
    opacity: 1;
    transition: opacity 0.75s ease-in;
}








